In [4]:
print(a)

2

In [15]:
b=3

In [1]:
a=2
b=3

In [17]:
condicion = (a > b)
if ((a > b)| (not( b== 3))) :
    print("verdadero")
else: 
    print("falso")
    print("hola")

falso
hola

In [23]:
contador = 0
while (contador<5) :
    print("estoy en la iteracion"+ str(contador))
    contador += 1

estoy en la iteracion0
estoy en la iteracion1
estoy en la iteracion2
estoy en la iteracion3
estoy en la iteracion4

In [32]:
lista= [1,2,3,4,5,6,7]

for elemento in lista :
    if elemento%2 == 0:
        print(elemento)

2
4
6

In [27]:
a

2

In [3]:
b

3

In [30]:
a**b

8

In [31]:
b**a #potencias

9

In [33]:
a+b #suma

5

In [34]:
a-b #resta

-1

In [35]:
b/a #divicion

1.5

## tipos de datos

In [37]:
#enteros
a=4
pi= 3.1416
#hilos
nombre= "gabriel"

In [38]:
type(a)

int

In [39]:
type(pi)

float

In [40]:
type(nombre)

str

In [41]:
a+pi

7.1416

##

## LISTAS

In [45]:
a= [1,"dos",3]
b= [4,5]

In [46]:
a+b

[1, 'dos', 3, 4, 5]

In [47]:
a[1]

'dos'

In [48]:
#va desde 0
a[0]+b[0]

5

In [49]:
len(a)

3

In [51]:
# como le puedo hacer para usar el ultimo numero de una lista

In [52]:
b[-2]

4

Diccionario

## funciones

In [64]:
def funcion1():
    print("aprobado")
    print("       ")
    print("-----------")

funcion1()

In [67]:
def funcion_con_parametros(a,b,c):
    return(a+b+c)

In [68]:
funcion_con_parametros(1,2,3)

6

# lectura rapida

In [70]:
import pandas as pd
 
fulanito= pd.read_excel("datosPE.xlsx")
fulanito

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [71]:
type(fulanito)

pandas.core.frame.DataFrame

In [76]:
fulanito.columns

Index(['ID Persona', 'Peso', 'Estatura'], dtype='object')

In [80]:
fulanito ["Peso"]

0      67
1      99
2      86
3     118
4     109
     ...
95     88
96     98
97     95
98     61
99    107
Name: Peso, Length: 100, dtype: int64

In [84]:
fulanito["Peso"].sum()

8558

In [87]:
contador=0
lista=[]
while (contador<400) :
    print(""+ str(contador))
    contador += 3

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399

In [89]:
fulanito ["Peso"] / fulanito ["Estatura"]**2

0     33.700518
1     29.561946
2     23.822715
3     43.342516
4     39.083510
        ...
95    39.637854
96    41.322314
97    38.541117
98    23.533043
99    40.771224
Length: 100, dtype: float64

In [92]:
import pandas as pd
 
trabajo = pd.read_excel("datosCT.xlsx")
trabajo

    Unnamed: 0  Ingreso  Gasto
0        Enero     1340   1880
1      Febrero     2590   3130
2        Marzo     3570   2140
3        Abril     4450   3370
4         Mayo     1330   2990
5        Junio     1610   1970
6        Julio     1500   2230
7       Agosto     2270   1240
8   Septiembre     1910   1470
9      Octubre     2120   2280
10   Noviembre     3950   1870
11   Diciembre     1380   3140